@using WebSiteBanSach.Models;
@using PagedList.Mvc;
@model PagedList.IPagedList<Sach>

@*Css cho trang chủ ở trong thư mục content*@
<link href="~/Content/TrangChuCss.css" rel="stylesheet" />
@{
    Layout = "~/Views/Layout/NguoiDungLayout.cshtml";
    ViewBag.Title = "Index";
}
<div class="col-sm-12 col-md-12">
    <div class="col-sm-9 col-md-9">
        <div class="container">
            <div class="slide-img">
                <div id="carousel-example-generic" class="carousel slide" data-ride="carousel">
                    <!-- Indicators -->
                    <ol class="carousel-indicators">
                        <li data-target="#carousel-example-generic" data-slide-to="0" class="active"></li>
                        <li data-target="#carousel-example-generic" data-slide-to="1"></li>
                        <li data-target="#carousel-example-generic" data-slide-to="2"></li>
                    </ol>

                    <!-- Wrapper for slides -->
                    <div class="carousel-inner">
                        <div class="item active">
                            <img src="~/HinhAnh/Anh1.png" />
                        </div>
                        <div class="item">
                            <img src="~/HinhAnh/Anh2.png" />
                        </div>
                        <div class="item">
                            <img src="~/HinhAnh/Anh3.png" />
                        </div>
                    </div>

                    <!-- Controls -->
                    <a class="left carousel-control" href="#carousel-example-generic" data-slide="prev">
                        <span class="glyphicon glyphicon-chevron-left"></span>
                    </a>
                    <a class="right carousel-control" href="#carousel-example-generic" data-slide="next">
                        <span class="glyphicon glyphicon-chevron-right"></span>
                    </a>
                </div>
            </div>
        </div>
    </div>
    <div class="col-sm-3 col-md-3">
        @Html.Action("SachMoiPartial", "Sach")
    </div>
</div>

@*divBody trang index*@
<h2 style="margin-left:2%;font-weight:normal;color:black">Sách mới xuất bản</h2>
<hr />
    @{int i = 0;}
    @foreach (var item in Model)
{

    i++;
    <div class="col-sm-3 col-md-3">
        <div class="block">
            <div class="middle">
                <a href="@Url.Action("XemChiTiet", "Sach", new { @MaSach=item.MaSach })">
                    <img src="@Url.Content("~/HinhAnhSP/"+item.AnhBia)"  />
                </a>                 
            </div>

            <div class="bottom">
                @*Nếu tên sách dài hơn 30 ký tự thì chúng ta sẽ cắt tên sách ra lấy từ ký tự 0 đến ký tự 35*@
                @if (item.TenSach.Length < 35)
                {
                    <div class="heading" title="@item.TenSach">@item.TenSach.</div>
                }
                else
                {
                    <div class="heading" title="@item.TenSach"> @item.TenSach.Substring(0, 35) ...</div>
                }
                @*Dịch dấu chấm động đơn giá sử dụng string.Format("{0:0,0}", tham số)*@
                <div class="style">Giá: @String.Format("{0:0,0}", item.GiaBan) VNĐ</div>
               
                
            </div> 
            @using (Html.BeginForm("ThemGioHang", "GioHang", new { @iMaSach = item.MaSach, @strURL = Request.Url.ToString() }))
{
    <div class="info"><input type="submit" value="Mua hàng" id="btnGioHang" class="btn btn-primary btn-primary"></div>

}           
        </div>
    </div>
    if (i % 4 == 0)
    {
        <div style="clear:both"></div>
        }
    
}

<div class="page-number">
    @* Tạo link liên kết các trang*@
    Trang @(Model.PageCount < Model.PageNumber ? 0 : Model.PageNumber)/ @Model.PageCount
    <div class="MenuTrang">
        @Html.PagedListPager(Model, page => Url.Action("Index", new { page = page }))
    </div>
</div>

    <!-- footer trang  -->


