@model WebSiteBanSach.Models.Sach

@{
    ViewBag.Title = "ChinhSua";
    Layout = "~/Views/Layout/AdminLayout.cshtml";
}
   
          <legend>Chỉnh sửa</legend>

           @using (Html.BeginForm())
           {
               @Html.AntiForgeryToken()
                
              
               <div class="form-horizontal">
                   <div class="col-sm-5">

                       @Html.ValidationSummary(true)
                       <div class="panel panel-default">
                           <div class="panel-body form-horizontal payment-form">
                               <div class="form-group">
                                   @Html.LabelFor(model => model.MaSach, new { @class = "control-label col-sm-3" })
                                   <div class="col-md-10">

                                       <span style="font-size:15pt;margin-top:10px;margin-left:15px;margin-bottom:150px;">@Model.MaSach</span>
                                       @Html.Hidden("MaSach", Model.MaSach)
                                   </div>
                               </div>
                               </div>
                           </div>
                               <br />
                               <div class="form-group">
                                   @Html.LabelFor(model => model.TenSach, new { @class = "control-label col-sm-3" })
                                   <div class="col-md-10">
                                       <span style="font-size:15pt;margin-top:10px;margin-left:15px;margin-bottom:150px;">
                                           @Html.EditorFor(model => model.TenSach)
                                           </span>
                                           @Html.ValidationMessageFor(model => model.TenSach)
</div>
                               </div>
                       <br />
                               <div class="form-group">
                                   @Html.LabelFor(model => model.GiaBan, new { @class = "control-label col-sm-3" })
                                   <div class="col-md-10">
                                       <span style="font-size:15pt;margin-top:10px;margin-left:15px;margin-bottom:150px;">
                                           @Html.EditorFor(model => model.GiaBan)</span>
                                           @Html.ValidationMessageFor(model => model.GiaBan)
</div>
                               </div>


                       <br />
                               <div class="form-group">
                                   @Html.LabelFor(model => model.NgayCapNhat, new { @class = "control-label col-sm-3" })
                                   <div class="col-md-10"><span style="font-size:15pt;margin-top:10px;margin-left:15px;margin-bottom:150px;">
    @Html.TextBoxFor(model => model.NgayCapNhat)</span>
    @Html.ValidationMessageFor(model => model.NgayCapNhat)
</div>
                               </div>
                       <br />
                               <div class="form-group">
                                  
                                       @Html.LabelFor(model => model.AnhBia, new { @class = "control-label col-sm-3" })

                                       <div class="col-md-10">
                                           <span style="font-size:15pt;margin-top:10px;margin-left:15px;margin-bottom:150px;">
                                               @Html.EditorFor(model => model.AnhBia)
                                           </span>
                                               @Html.ValidationMessageFor(model => model.AnhBia)
                                           <input type="file" name="fileUpload">
                                           @*Thông báo trùng*@
                                           @ViewBag.ThongBao
                                       </div>
</div>

                       <br />
                               <div class="form-group">
                                   @Html.LabelFor(model => model.SoLuongTon, new { @class = "control-label col-sm-3" })
                                   <div class="col-md-10"><span style="font-size:15pt;margin-top:10px;margin-left:15px;margin-bottom:150px;">
    @Html.EditorFor(model => model.SoLuongTon)</span>
    @Html.ValidationMessageFor(model => model.SoLuongTon)
</div>
                               </div>
                       <br />
                               <div class="form-group">
                                 
                                       @Html.LabelFor(model => model.MaChuDe, new { @class = "control-label col-sm-3" })
                                       <div class="col-md-10">
                                           <span style="font-size:15pt;margin-top:10px;margin-left:15px;margin-bottom:150px;">
                                               @Html.DropDownList("MaChuDe")</span>

</div>
</div>
                       <br />
                               <div class="form-group"><span style="font-size:15pt;margin-top:2px;margin-left:5px;margin-bottom:150px;">
    @Html.LabelFor(model => model.MaNXB, new { @class = "control-label col-sm-3" })</span>
    <div class="col-md-10">
        <span style="font-size:15pt;margin-top:10px;margin-left:15px;margin-bottom:150px;">
            @Html.DropDownList("MaNXB")</span>

</div>
</div>
                       <br />
                               <div class="form-group">
                                   @Html.LabelFor(model => model.Moi, new { @class = "control-label col-sm-3" })
                                   <div class="col-md-10">
                                       <span style="font-size:15pt;margin-top:10px;margin-left:15px;margin-bottom:150px;">
                                           @Html.EditorFor(model => model.Moi)
                                           </span>
                                           @Html.ValidationMessageFor(model => model.Moi)
</div>
                               </div>
                       <br />
                               <div class="form-group">
                                   <span style="font-size:15pt;margin-top:10px;margin-left:15px;margin-bottom:150px;">
                                       @Html.LabelFor(model => model.MoTa, new { @class = "control-label col-sm-3" })</span>
                                   
                                   <div class="col-md-10">
                                       <br >    
                                           <textarea name="MoTa">@Model.MoTa</textarea>
                                       </div>
</div>
                               <br>
                               <div class="form-group">
                                   <div class="col-md-offset-2 col-md-10">
                                       <input type="submit" value="Lưu" class="btn btn-danger" />
                                   </div>
                               </div>


                           </div>
                       </div>
                       }

                       <div>
                           <a href="@Url.Action("Index")" class="btn btn-success">Trở về trang chủ</a>

                       </div>

